Form {
    display: grid;
    grid-row-gap: 20px;
    margin-top: 30px;
    margin-left: 35%;
    margin-right: 35%;
}



button {
    margin-left: 25%;
    margin-right: 25%;
    justify-items: center;
    border: none;
    border-radius: 20px;
    background-color: #FF5959;
    color: white;

}